/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: white;

}
    a:hover {
        color: var(--main-orange);
        text-decoration: none;
    }
.btn-primary {
    color: #fff;
    background-color: var(--main-orange);
    border-color: var(--main-orange);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--main-orange);
  /*border-color: #1861ac;*/
}

/* Sticky footer styles
-------------------------------------------------- */
html,body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background:var(--main-gray);
    color:white;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 5px 5px 10px #181818, -5px -5px 10px #282828;
    border-radius: 6px;
}
nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
    box-shadow: 5px 5px 10px #181818, -5px -5px 10px #282828;
    border-radius: 0;
    background: var(--main-black) !important;
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


:root {
    --main-orange: #ff6a00;
    --main-gray: #2b2b2b;
    --main-black: #202020;
}

.card-btc{
    background:var(--main-black);
}
.border-bottom {
    border-bottom: none!important;
}

a.nav-link.text-dark {
    color: white !important;
}
a.nav-link.text-dark:hover {
    color: var(--main-orange) !important;
}
button.nav-link.btn.btn-link.text-dark {
    color: white !Important;
    font-size: small;
}
i.fab.fa-bitcoin, i.fa-clock, i.fa-wallet, i.fa-copy {
    color: var(--main-orange);
    padding: 2px 5px;
    transform: rotate(-18deg);
    font-size: large;
}

iframe .dark {
    color: #FFF;
    background-color: #202020!important;
}

.card-btc-body, .card-btc-header{
    padding:10px;
    width:100%;
}


.btn-green {
    opacity: 0.8;
    background: #19b99b;
}
.btn-purple {
    opacity: 0.8;
    background: #a686ce;
}
.btn-blue {
    opacity: 0.8;
    background: #00c4ff;
}
.btn-pink {
    background: #fd5c9f;
    opacity: 0.8;
}
.btn-green:hover {
    opacity:1;
}

.btn-purple:hover {
    opacity: 1;
}

.btn-blue:hover {
    opacity: 1;
}

.btn-pink:hover {
    opacity: 1;
}

.btn-hp{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    cursor:pointer;
}

.btn-disabled, .btn-disabled:hover{
    cursor:none!important;
    opacity:0.3;
}
.modal-content {
    background: #161616;
}
.modal-footer {
    border-top: 1px solid #803500;
}
.modal-content {
    background: #161616;
    border: 6px solid var(--main-orange);
    padding: 10px;
}

button.btn.btn-primary:hover{
    background:var(--main-orange)!important;
    opacity:1;
}button.btn.btn-primary{
    background:var(--main-orange)!important;
    opacity:0.8;
}
.wallet-adress {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Roboto';
    font-weight: 100;
}
hr {
    background: var(--main-orange);
    opacity: 0.8;
}

#snoAlertBox {
    position: absolute;
    z-index: 1400;
    top: 2%;
    right: 4%;
    margin: 0px auto;
    text-align: center;
    display: none;
}